/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  background: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: hidden;
  margin: 0%;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus {
    outline: none;
}

img {
  max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

hr {
  width: 100%;
  margin-top: 5px;
  border-top: 0px;
  border-bottom: 1px solid #d3d3d3;
}

#root { height: 100%;}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

.Header {
  display: flex;
  width: calc(80% + 40px);
  max-width: 42.5rem;
  justify-content: space-between;
}

.ReferencesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.FileRef {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  opacity: 0.9;
  height: fit-content;
  min-height: 1.5rem;
  width: 80%;
  max-width: 40rem;
}
.FileRef:hover {
  transform: scale(1.02);
  opacity: 1;
}
.FileRef .Name:hover {
  cursor: pointer;
}
.FileRef .Name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}
.FileRef .Page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
  margin-left: 0.25rem;
  justify-content: unset;
  display: flex;
  align-items: end;
  color: #707070;
}
.Search {
  margin-right: 1rem;
  height: 1rem;
  flex-direction: row;
}
.Search:hover {
  transform: scale(1.0);
  opacity: 1;
}
.Search.Button {
  opacity: 0.2;
}
.Search input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: black;
  background-color: white;
  border: none;
  font-size: 1.3rem;
  appearance: none;
  width: 100%;
}

.AddFileRef {
  cursor: pointer;
  justify-content: center;
  flex-direction: row;
  width: 10%;
  height: 1rem;
  max-width: 10rem;
  font-weight: 200;
}

.Button {
  margin-left: 0.5rem;
  cursor: pointer;
}
.Button:hover {
  transform: scale(1.2);
}
.Button:focus {
  outline: auto;
}

.ModalBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.FileRefModal {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  width: 80%;
  max-width: 40rem;
  height: 80%;
  max-height: 60rem;
  margin: 2rem;
  padding: 2rem 1rem;
  transition: all ease-in 0.1s;
  display: flex;
  flex-direction: column;
}

.FilePath {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  width: 100%;
}

.ClearInput {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  color: black;
  background-color: white;
  font-weight: 100;
  cursor: text;
  width: 100%;
  font-size: 1rem;
}

.NameInput {
  font-size: 2rem;
}

.ImagePaster {
  cursor: pointer;
  position: sticky;
  min-height: 7rem;
}
.ImagePaster .Overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  color: rgba(0,0,0,0);
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}
.ImagePaster .Overlay:hover {
  background-color: rgba(0,0,0,0.05);
  text-shadow: 1px 1px white;
  color: black;
}
.ImagePaster .Overlay.Visible {
  background-color: rgba(0,0,0,0.05);
  text-shadow: 1px 1px white;
  color: black;
}

.PageInput {
  background-color: white;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
}

.PageInput input {
  background-color: white;
  border: none;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
}

.FirstLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.SecondLine {
  margin-bottom: 2rem;
  width: 100%;
}

.PdfInputsLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px dashed white;
}

.RefTypeRadio {
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  user-select: none;
}

.RefTypeRadio span {
  padding: 0.1rem;
}

.RefTypeRadio span:hover {
  cursor: pointer;
}

.RefTypeRadio .RadioSelected {
  background-color: #cecece;
  border-radius: 0.2rem;
}

.Hoverborder {
  border: 1px dashed white;
  border-radius: 5px;
}
.Hoverborder:hover {
  border: 1px dashed black;
  border-radius: 5px;
}

::placeholder {
  font-weight: 100;
  font-family: "Helvetica Neue";
  color: black;
}
